{preload_replace:asset_path="//themes/site_themes/default_site/nsm_minify"}

<ul>
	<li><a href="{exp:nsm_minify:group_url group='test_css' debug='y'}">Group CSS URL</a></li>
	<li><a href="{exp:nsm_minify:group_url group='test_js' debug='y'}">Group JS URL</a></li>
	<li><a href="{exp:nsm_minify:files_url files='{asset_path}/css/css1.css,{asset_path}/css/css2.css' debug='y'}">CSS Files URL</a></li>
	<li><a href="{exp:nsm_minify:files_url files='{asset_path}/js/js1.js,{asset_path}/js/js2.js' debug='y'}">JSS Files URL</a></li>
</ul>